body{

font-family: Arial;
margin:0;
background:#111;
color:white;

}

header{

background:#00e1ff;
padding:20px;
text-align:center;

}

nav ul{

list-style:none;
padding:0;

}

nav li{

display:inline;
margin:15px;

}

nav a{

color:black;
font-weight:bold;
cursor:pointer;

}

.contenido{

display:none;
padding:30px;

}

.activo{

display:block;

}

h2{

color:#00e1ff;

}

.imagen{

width:400px;
border-radius:10px;
margin:20px 0;

}

table{

border-collapse:collapse;
width:50%;

}

table, th, td{

border:1px solid white;
padding:10px;

}

.galeria{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.galeria img{

width:250px;
border-radius:10px;

}
